body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #48a6b2;
  color: white;
}

#Booking {
  float: left;
  background: #48a6b2;
  width: 40%;
  height: 280px;
  padding: 14px 16px;
  text-align: center;
  font-size: 40px;
  border: 2px solid #000;
}

#History {
  float: right;
  background: #48a6b2;
  width: 40%;
  height: 280px;
  padding: 14px 16px;
  text-align: center;
  font-size: 40px;
  border: 2px solid #000;
}
