
 <title>Team details</title>
 
 <h1>About Us: Team #</h1>

 <!-- Team Member 1 -->
 <h2>Team Member 1 : Visura Guruge</h2>
 <p>Monash ID: 32345275</p>

 <!-- Team Member 2 -->
 <h2>Team Member 2: Vikum Jayasuriya</h2>
 <p>Monash ID: 32144482</p>


 <!-- Team Member 3 -->
 <h2>Team Member 3: Chathurya Kahandawala</h2>
 <p>Monash ID: 32634501</p>
